ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    /* float: left; */
    display: inline-block;
    
  }
  
  li a {
    display: block;
    padding: 10px;
  
    margin: 10px;
    background-color: #dddddd;
  }